:root{
    --primary-color:#2584ff ; 
    --secondary-color : #00d9ff ;  
    --accent-color : #ff3400; 
    --heading-color : #210e6b;
    --heading-secondary-color : #ffffff ;
    --paragraph-color : #aaa6b7;
}